/* Welcome/Home Page */

/* dark color: #851c3b */

section {
  padding: 2.5rem 8rem;
}

body {
  margin: 0;
  color: #252525;
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(253, 253, 253); */
}

.subtitle {
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-size:  2rem;
  padding-bottom: 2rem;
}

/* NAVBAR */

.navbar {
  padding: 2rem 10rem;
  font-size: 1rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  color:#992044!important;
}

.navbar img {
  width: 40px;
}

/* TITLE */

.intro {
  margin: auto;
}

.hello {
  margin-top: 0;
  font-size: 16px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.first-col {
  display: flex;
}

.intro-and-links {
  margin: auto 0;
}

.intro-link {
  text-align: center;
}

.links {
  padding-top: 3rem;
}

.picture {
  width: 22.5rem;
  margin: auto;
  /* margin-right: ; */
  border-radius: 1.5rem;
  display: block;
}

.intro {
  margin-top: 5%;
}

.sm-link {
  color:#595959;
}

.sm-link:hover{
  text-decoration: none;
  color:#992044;
}

/* WORK  */

.col h3 {
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.col {
  padding-top: 1.5rem;
}

.colored-col {
  border: 1px solid #992044;
  border-radius: .65rem;
}

.colored-col:hover {
  background-color: #992044;
  color: white;
}

.colored-col:hover small {
  color:#ffb5cb!important;
}

.colored-col:hover a {
  color:#ff7da4!important;
}

.colored-col a:hover {
  color: #2c2c2c!important;
}

.work-block {
  padding: 1rem;
}

.work-title {
  display: inline-block;
  font-size: 1.25rem;
}

.work {
  display: block;
}

.work img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.work h3 {
  font-size: 1.25rem;
}

.work p {
  display: block;
}

/* CONTACT SECTION */

.contact-me {
  text-align: center;
}

.contact-me-text {
  padding-top: 1rem;
}

.contact-me-text h3 {
  font-size: 22px;
}

.contact-me-text p {
  width: 50%;
  margin: auto;
}

.contact-button {
  border-radius: 12px;
  border-color: #992044;
  color: #992044;
  padding: 20px;
  font-size: 18px;
}

.other-buttons {
  width: 70%;
  margin-left: 0;
  margin: 0 auto;
}

.contact-button:hover {
  background-color: #992044;
  color: white;
  border-color: #992044;
}

.secondary-contact {
  padding: 20px;
  margin-top: 1rem;
  width: 100%;
}

.secondary-contact:hover {
  color: #5f5f5f;
}

.btn-outline-light {
  border-color: #252525;
  color: #252525;
}

.contact-padding {
  padding: 2rem 0;
}

/* COPYRIGHT */

#footer {
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.footer-title {
  font-size: 1.25rem;
  color: #444444;
  font-family: "Inter", sans-serif;
}

.footer-links {
  padding: 1rem 0;
}

#footer a {
  text-align: center;
  color: #363636;
}

#footer a:hover {
  color:#992044;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
  section,
  .navbar {
    padding: 3rem 5rem;
  }
  .welcome {
    margin: auto;
  }
  .about-me-text {
    margin-top: 2rem;
  }
}
