/* Welcome/Home Page */

/* dark color: #851c3b */

section {
  padding: 2.5rem 8rem;
}

body {
  margin: 0;
  color: #252525;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

.subtitle {
  font-family: "Inter", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-size:  2rem;
  padding-bottom: 2rem;
}

/* NAVBAR */

.navbar {
  padding: 2rem 10rem;
  font-size: 1rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}

.navbar img {
  width: 40px;
  margin-left: -1.5rem;
}

.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #992044;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

/* TITLE */

.intro {
  margin: auto;
}

.hello {
  margin-top: 0;
  font-size: 16px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.first-col {
  display: flex;
}

.intro-and-links {
  margin: auto 0;
}

.intro-link {
  text-align: center;
}

.links {
  padding-top: 3rem;
}

.picture {
  width: 22.5rem;
  margin: auto;
  border-radius: 1.5rem;
  display: block;
}

.intro {
  margin-top: 5%;
}

.fab, .fas {
  color: #595959;
  font-size: 2rem;
}

.fab:hover, .fas:hover {
  color: #992044;
  text-decoration: none;
}

/* WORK  */

.col h3 {
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.col {
  padding-top: 1.5rem;
}

.colored-col-1 {
  border: 1px solid #992044;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.colored-col-2 {
  border: 1px solid #992044;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}

.work-block {
  padding: 1rem;
}

.work-title {
  display: inline-block;
  font-size: 1.25rem;
}

.work {
  display: block;
}

.work img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.work h3 {
  font-size: 1.25rem;
}

.work p {
  display: block;
}

.sm-link {
  color:#595959;
}

.sm-link:hover{
  text-decoration: none;
  color:#992044;
}

/* FOOTER */

#footer {
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.footer-title {
  font-size: 1rem;
  color: #444444;
  font-family: "Inter", sans-serif;
}

.footer-links {
  padding: 1rem 0;
}

#footer a {
  text-align: center;
  color: #363636;
}

#footer a:hover {
  color:#992044;
  text-decoration: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
  section {
    padding: 3rem 5rem;
  }

  .navbar {
    padding: 1rem 5rem;
  }

  .links {
    padding-top: 0;
  }

  .intro-and-links {
    margin: auto;
    padding-bottom: 1.5rem;
  }

  .work-block {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 768px){
  section {
    padding: 2.5rem;
  }
  .navbar {
    padding: 1rem 1.5rem;
  }
  .navbar img {
    margin-left: -1.5rem;
  }
}

@media only screen and (max-width: 600px){
  section {
    padding: 0 .5rem 1.5rem;
  }
}

@media only screen and (max-width: 575px){
  .intro-link {
    padding-top: .5rem;
  }
}
