body {
  margin: 0;
}

/* NAVBAR */

.navbar {
  padding: 2rem 12rem;
  font-size: 1.25rem;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}

.colored-section {
  background-color: #992044;
}

.header-text {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    line-height: 5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;

}

.message-block {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  padding: 0 3rem;
}
