/* Work Page Styles */

section {
  padding: 5rem 12rem;
}

body {
  margin: 0;
  color: #252525;
  font-family: "Roboto", sans-serif;
}

.subtitle {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.25rem;
}

.colored-section {
  background-color: #992044;
  color: white;
}

.black-title {
  color: #333333;
}

/* NAVBAR */

.navbar {
  padding: 2rem 10rem;
  font-size: 1rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
}

.navbar img {
  width: 40px;
}


/* RBC SECTION */
.rbc-logo {
  border-radius: 100%;
  height: 200px;
}

.about-block {
  align-items: center;
}

.work-text h1 {
  font-size: 2.25rem;
}

.work-text h3 {
  font-size: 1.5rem;
  color: #9e9e9e;
}

.work-text {
  line-height: 2;
  margin: auto ;
  width: 75%;
}

/* FILLER TEXT */

.header-text {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  padding: 2rem 0;
}

.details {
  display: inline;
}

.timeline {
  float: right;
  margin: 0;
}

.message-block {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  padding: 0 3rem;
}
